html {
  position: relative;
  min-height: 100%;
}

#topbanner{
  background-color: #6f8ca5;
    padding-top: 2em;
  padding-bottom: 2em;
}

#toplogo {
  font-family: 'Monoton', cursive;
  font-size:3rem;
  color: white;
}

#about {
  float: right;
  color: black;
  background-color: white;
  font-size: 110%; }

#about:hover, #about:focus {
  background-color: #E4E3D2;
}

#countdown {
  margin-left: 1.5em;
  width: 90%
}

img {
  height: 8em
}

.sponsorname {
  font-size: smaller;
  float: left;
}

.currentrank {
  font-size: 2em;
  color: darkgray;
}

.formerrank {
  font-size: larger;
}
